@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>RFID Attendance System test build for CSRL.</p>
    <p>Controlled by The Core.</p>
</div>
