@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RFID Attendance System</h1>
    <br />
    <h2>Today's date is: @DateTime.Now.ToString("d")</h2>
    <br />
    <h5>RFID Attendance System test build by the JCHS CSRL. Click the "Students" tab to get started.</h5>
</div>
