@model RFIDAttendance.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Student</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InClass" /> @Html.DisplayNameFor(model => model.InClass)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TimeLastCheckedIn" class="control-label"></label>
                <input asp-for="TimeLastCheckedIn" class="form-control" />
                <span asp-validation-for="TimeLastCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeLastCheckedOut" class="control-label"></label>
                <input asp-for="TimeLastCheckedOut" class="form-control" />
                <span asp-validation-for="TimeLastCheckedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendaceStatus" class="control-label"></label>
                <select asp-for="AttendaceStatus" class="form-control">
                    <option disabled selected>Select Status</option>
                    <option>PRESENT</option>
                    <option>TARDY</option>
                    <option>ABSENT</option>
                </select>
                <span asp-validation-for="AttendaceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
